<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

    #mydiv {
      position: absolute;
      z-index: 9;
      background-color: #f1f1f1;
      text-align: center;
      resize: both;
      overflow: auto;
      border: 1px solid #d3d3d3;
    }
    .box {
            background-color: coral;
            height: 200px;
            width: 200px;
    }

    

    #mydivheader {
      padding: 10px;
      cursor: move;
      z-index: 10;
      
      color: #fff;
      resize: both;
      overflow: auto;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('home_page') }}">Cam</a>
        <a href="{{ url_for('tables_page') }}">Tables</a>
        {% if current_user.is_authenticated %}
            <a class="nav-link">Welcome, {{ current_user.username }}</a>
            <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
            <a class="nav-link" href="{{ url_for('register_page') }}">Register</a>
        {% endif %}
    </div>
  <!-- <div class="topnav">
    <a class="active" href="#home">Cam</a>
    <a href="{{ url_for('tables_page') }}">Tables</a>
  </div> -->

    <!--<div id ="app" v-cloak >
        <hr />
        <button @click="toggleBox">Show Cam</button>
            <div v-if="isVisable" class="invis"></div>
    </div>    -->
    <!--<div class= "mydivheader" id="container" style="width: 100%; height: 100%"></div>-->
    
    
    <div id="mydiv" class="container">
        
        <div class="row" id="mydivheader">
            <div id="mydivheader" class="col-lg-8  offset-lg-2">
                <h3 class="mt-5" style="color:red">ARE YOU STAYING ON TASK?!?!?!?</h3>
                <img class="invis" src="{{ url_for('video_feed') }}" width="100%">
                <button id="buttonShift"><a href="{{ url_for('start_page') }}">Start</a></button>
                <button id="buttonShift"><a href="{{ url_for('logout_page') }}">Stop</a></button>
            </div>
        </div>
    </div>




    <script>
        //Make the DIV element draggagle:
        dragElement(document.getElementById("mydiv"));

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                /* if present, the header is where you move the DIV from:*/
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                /* otherwise, move the DIV from anywhere inside the DIV:*/
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }
    </script>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({

            data: function () {
                return {
                    isVisable: false

                }
            },
            methods: {
                toggleBox() {
                    this.isVisable = !this.isVisable
                }

            }
        })



        app.mount('#app')
    </script>
    
    <script>

    //    anychart.onDocumentReady(function () {

            // set the data and use custom data
     //       var data = [
     //           { x: "White", value: 223553265 },
    //            { x: "Black or African American", value: 38929319 },
    //            { x: "American Indian and Alaska Native", value: 2932248 },
    //            { x: "Asian", value: 14674252 },
     //           { x: "Native Hawaiian and Other Pacific Islander", value: 540013 },
     //           { x: "Some Other Race", value: 19107368 },
     //           { x: "Two or More Races", value: 9009073 }
      //      ];

            // create the chart
     //       var chart = anychart.pie();

            // set the chart title
      //      chart.title("Population by Race for the United States: 2010 Census");
//
            // add the data
        //    chart.data(data);

            // display the chart in the container
         //   chart.container('container');
         //   chart.draw();

       // });
    </script>
</body>
</html>