<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
  <div class="header">
    <a href="{{ url_for('home_page') }}" class="logo">Distraction Detecter</a>
  </div>
  
  <div class="topnav">
        <a style = "float: left;" href="{{ url_for('home_page') }}">Cam</a>
        <a style = "float: left;" href="{{ url_for('tables_page') }}">Tables</a>
        {% if current_user.is_authenticated %}
            <a style = "float: right;" class="nav-link">Welcome, {{ current_user.username }}</a>
            <a style = "float: right;"class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
        {% else %}
            <a style = "float: right;"class=" class="active"  nav-link" href="{{ url_for('login_page') }}">Login</a>
            <a style = "float: right;"class="nav-link" href="{{ url_for('register_page') }}">Register</a>
        {% endif %}
    </div>
<div class="main-container">
  <div class="register-container">
      <!-- {% with messages = get_flashed_messages() %}  
          {% if messages %}  
              {% for message in messages %}  
                  <p>{{ message }}</p>  
              {% endfor %}  
          {% endif %}  
      {% endwith %}  -->
      <form method="POST" class="form-signin">
          {{ form.hidden_tag() }}
          <h1>Please Login</h1>
          <br>

          <div>{{ form.username.label(class="form-text") }}</div>
          <div>{{ form.username(class="form-box", placeholder="User Name") }}</div>

          <div>{{ form.password.label(class="form-text") }}</div>
          <div>{{ form.password(class="form-box", placeholder="Password") }}</div>

          <div>{{ form.submit(class="form-btn") }}</div>

          <div class="form-text">
            Don't have an account?
            <a class="form-btn-small" href = "{{ url_for('register_page')}}">Register</a>
          </div>
      </form>
  </div>
</div>
</body>
</html>
