<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %} 
    <div class="container">
        <form method="POST" class="form-register">

            {{ form.hidden_tag() }}

            <h1>
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="", placeholder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}

            <br>

            <div>
                <h6>Already have an account?</h6>
             </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
</html>